# ─────────────────────────────────────
# Python project ignore rules
# ─────────────────────────────────────

# Virtual environments
venv/
.venv/

# Bytecode and cache
__pycache__/
*.py[cod]

# Environment variable files
.env
.streamlit/secrets.toml

# VS Code and PyCharm settings
.vscode/
.idea/
